@footerHeight: 40px;
@headerHeight: 40px;
@mainColor: #f8f8f8;
@mainBorderColor: #e7e7e7;
@tableHeaderColor: #eeeeee;

body {
    padding-top: @headerHeight + 10px;
    padding-bottom: @footerHeight + 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: @footerHeight;
    background-color: @mainColor;
    border-top: 1px solid transparent;
    border-color: @mainBorderColor;

    div {
        padding-top: @footerHeight / 2 - 10px;
    }

    z-index: 1023;
}

.table-overflow {
    overflow-x: auto;
}

.full-width {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    padding-bottom: @footerHeight + 10;
}

table {
    thead {
        tr {
            background-color: @tableHeaderColor;
        }
    }
}

//---------------------Overwrite bootstrap elements---------------------//
.navbar {
    min-height: @headerHeight !important;
    width: 100%;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto !important;
}

.modal-header {
    min-height: @headerHeight - 20px !important;
    padding: 10px;
}

.modal-header .close {
    margin-top: 1px;
}

.modal-footer {
    padding: 5px 5px 5px;
    margin-top: 0px;
}
