@{
    Layout = null;
    ViewBag.Title = "Task Dashboard";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <div class="card bg-secondary">
        <div class="card-body p-2">
            <div class="btn-group">
                <a href="#" routerLink="/Submit" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white">
                    My Assigned Tasks

                    <div class="float-md-right">
                        <a href="#" routerLink="/List/1" class="text-white">View All</a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered table-hover mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>
                                        Task Name
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Last Update
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of dashboard.MyTasks">
                                    <td>
                                        <a href="#" routerLink="/Submit/{{task.ID}}" title="Edit"><span class="fa fa-edit"></span></a>
                                    </td>
                                    <td>
                                        {{task.TaskName}}
                                    </td>
                                    <td>
                                        {{task.ProjectName}}
                                    </td>
                                    <td>
                                        {{task.StatusUI}}
                                    </td>
                                    <td>
                                        {{task.LastUpdateDateUI}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white">
                    My Created Tasks
                    <div class="float-md-right">
                        <a href="#" routerLink="/List/2" class="text-white">View All</a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered table-hover mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>
                                        Task Name
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Last Update
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of dashboard.MyCreatedTasks">
                                    <td>
                                        <a href="#" routerLink="/Submit/{{task.ID}}" title="Edit"><span class="fa fa-edit"></span></a>
                                    </td>
                                    <td>
                                        {{task.TaskName}}
                                    </td>
                                    <td>
                                        {{task.ProjectName}}
                                    </td>
                                    <td>
                                        {{task.StatusUI}}
                                    </td>
                                    <td>
                                        {{task.LastUpdateDateUI}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white">
                    Recent Tasks
                    <div class="float-md-right">
                        <a href="#" routerLink="/List/3" class="text-white">View All</a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered table-hover mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>
                                        Task Name
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Last Update
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of dashboard.LatestTasks">
                                    <td>
                                        <a href="#" routerLink="/Submit/{{task.ID}}" title="Edit"><span class="fa fa-edit"></span></a>
                                    </td>
                                    <td>
                                        {{task.TaskName}}
                                    </td>
                                    <td>
                                        {{task.ProjectName}}
                                    </td>
                                    <td>
                                        {{task.StatusUI}}
                                    </td>
                                    <td>
                                        {{task.LastUpdateDateUI}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-secondary text-white">
                    Unassigned Tasks
                    <div class="float-md-right">
                        <a href="#" routerLink="/List/4" class="text-white">View All</a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered table-hover mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>
                                        Task Name
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Last Update
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of dashboard.UnassignedTasks">
                                    <td>
                                        <a href="#" routerLink="/Submit/{{task.ID}}" title="Edit"><span class="fa fa-edit"></span></a>
                                    </td>
                                    <td>
                                        {{task.TaskName}}
                                    </td>
                                    <td>
                                        {{task.ProjectName}}
                                    </td>
                                    <td>
                                        {{task.StatusUI}}
                                    </td>
                                    <td>
                                        {{task.LastUpdateDateUI}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
