@{
    Layout = null;
}

<h2>Projects</h2>
<ul>
    <li *ngFor="let project of projects"
        [class.selected]="project === selectedProject"
        (click)="onSelect(project)">
        {{project.projectName}} -- {{project.projectDescription}}
    </li>
</ul>

<project-submit [project]="selectedProject"></project-submit>
