@{
    Layout = null;
}

<div *ngIf="project">

    <h2>{{ project.ProjectName | uppercase }} Details</h2>
    <div>
        <label>
            Name:
            <input [(ngModel)]="project.ProjectName" placeholder="Project Name">
        </label>
    </div>
    <div>
        <label>
            Desc:
            <input [(ngModel)]="project.Descriptions" placeholder="Project Description">
        </label>
    </div>
    <div>
        <label>
            Active State:
            <input type="checkbox" [(ngModel)]="project.IsActive">
        </label>
    </div>
</div>