@using Yumiki.Web.MoneyTrace.Constants
@using Yumiki.Commons.Dictionaries;
@using Yumiki.Entity.MoneyTrace;
@using SquishIt.Framework

@{
    ViewBag.Title = "Report (Beta)";
}

@section Script{
    @MvcHtmlString.Create(
        Bundle.JavaScript()
        .Add("~/Areas/MoneyTrace/clients/scripts/yumiki-money-trace.js")
        .Add("~/Areas/MoneyTrace/clients/scripts/yumiki-money-trace-report.js")
        .WithMinifier(new SquishIt.Framework.Minifiers.JavaScript.JsMinMinifier())
        .Render("~/cache/yumiki_#.js"))

    <script type="text/javascript">
        yumiki.moneyTrace.report.initReport(
            'cvReportChart',
            '@Url.HttpRouteUrl(RouteNames.ReportGet, null)',
            '@Yumiki.Commons.Logging.LogLevel.ERROR'
        )
    </script>
}

<div ng-app="report">
    <div class="container" ng-controller="reportController" ng-init="loadData();">
        <h2>Trace Report</h2>
        <div class="row">
            <div class="col-md-12">
                <canvas id="cvReportChart"></canvas>
            </div>
        </div>
    </div>
</div>
