<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="defaultLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${newline}ERROR DETAILS\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}}">
    </variable>
    <targets>
      <target name="logfile" layout="${defaultLayout}" xsi:type="File" fileName="${basedir}/Logs/systemlog.log" archiveNumbering="Sequence" archiveAboveSize="10485760" archiveFileName="${basedir}/Logs/systemlog.${date:format=yyyy.MM.dd}.{####}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  <unity>
    <assembly name="Yumiki.Data.Administration" />
    <assembly name="Yumiki.Business.Administration" />
    <container name="Administration">
      <register type="Yumiki.Data.Administration.Interfaces.IQueueRepository" mapTo="Yumiki.Data.Administration.Repositories.QueueRepository" />
    </container>
    <container name="QueueService">
      <register type="Yumiki.Business.Administration.Interfaces.IQueueService" mapTo="Yumiki.Business.Administration.Services.QueueService" />
    </container>
  </unity>
  <connectionStrings>
    <!--Database Connection String-->
    <!--<add name="AdministrationModel" connectionString="data source=localhost;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="AdministrationModel" connectionString="data source=WIN-V-DEV2016\SQL_DEV2016;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--30000 = 30 seconds-->
    <add key="Interval" value="30000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>