<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="defaultLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${newline}ERROR DETAILS\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}}">
    </variable>
    <targets>
      <target name="logfile" layout="${defaultLayout}" xsi:type="File" fileName="${basedir}/Logs/systemlog.log" archiveNumbering="Sequence" archiveAboveSize="10485760" archiveFileName="${basedir}/Logs/systemlog.${date:format=yyyy.MM.dd}.{####}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <!--30000 = 30 seconds-->
    <add key="Interval" value="30000" />
    <add key="ExecutionListPath" value="C:\Projects\Yumiki\Services\Yumiki.Service.SyncService\bin\Debug\ExecutionList.txt" />
    <add key="ConnectionString" value="data source=WIN-V-DEV2016\SQL_DEV2016;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>