<connectionStrings>
  <!--Database Connection String-->
  <!--
  <add name="AdministrationModel" connectionString="data source=SERVER-01;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MasterModel" connectionString="data source=SERVER-01;initial catalog=DB_Master;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MoneyTraceModel" connectionString="data source=SERVER-01;initial catalog=DB_MoneyTrace;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="WellCoveredModel" connectionString="data sourceSERVER-01;initial catalog=DB_WellCovered;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  -->
  
  <!--
  <add name="AdministrationModel" connectionString="data source=WIN-V-DEV\SQL_DEV;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MasterModel" connectionString="data source=WIN-V-DEV\SQL_DEV;initial catalog=DB_Master;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MoneyTraceModel" connectionString="data source=WIN-V-DEV\SQL_DEV;initial catalog=DB_MoneyTrace;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="WellCoveredModel" connectionString="data source=WIN-V-DEV\SQL_DEV;initial catalog=DB_WellCovered;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  -->

  <!---->
  <add name="AdministrationModel" connectionString="data source=WIN-02\SQL_WIN_02;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MasterModel" connectionString="data source=WIN-02\SQL_WIN_02;initial catalog=DB_Master;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MoneyTraceModel" connectionString="data source=WIN-02\SQL_WIN_02;initial catalog=DB_MoneyTrace;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="WellCoveredModel" connectionString="data source=WIN-02\SQL_WIN_02;initial catalog=DB_WellCovered;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!---->
</connectionStrings>