<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="AdministrationModel" connectionString="data source=localhost;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="MasterModel" connectionString="data source=localhost;initial catalog=DB_Master;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="MoneyTraceModel" connectionString="data source=localhost;initial catalog=DB_MoneyTrace;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
</connectionStrings>