<connectionStrings>
  <!--Database Connection String-->
  <add name="AdministrationModel" connectionString="data source=.;initial catalog=DB_Administration;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MasterModel" connectionString="data source=.;initial catalog=DB_Master;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MoneyTraceModel" connectionString="data source=.;initial catalog=DB_MoneyTrace;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="WellCoveredModel" connectionString="data source=.;initial catalog=DB_WellCovered;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>