<connectionStrings>
  <!--Database Connection String-->
  <!--<add name="MasterModel" connectionString="data source=WIN-V-DOTNET10\DEVELOPMENT;initial catalog=DB_Master;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="AdministrationModel" connectionString="data source=WIN-V-DOTNET10\DEVELOPMENT;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MoneyTraceModel" connectionString="data source=WIN-V-DOTNET10\DEVELOPMENT;initial catalog=DB_MoneyTrace;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="AdministrationModel" connectionString="data source=localhost;initial catalog=DB_Administration;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MasterModel" connectionString="data source=localhost;initial catalog=DB_Master;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="MoneyTraceModel" connectionString="data source=localhost;initial catalog=DB_MoneyTrace;user id=sa;password=R6zntmydkm2?;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>