<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="defaultLayout"
          value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${newline}ERROR DETAILS\:${newline}${exception:format=type,message,method:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}}"></variable>
  <targets>
    <target name="logfile"  layout="${defaultLayout}" xsi:type="File" fileName="${basedir}/Logs/systemlog.log"
            archiveNumbering="Sequence" archiveAboveSize="10485760" archiveFileName="${basedir}/Logs/systemlog.${date:format=yyyy.MM.dd}.{####}.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
