<unity>
  <!--Start:Administration Section-->
  <assembly name="Yumiki.Data.Administration" />
  <assembly name="Yumiki.Business.Administration" />
  <container name="Administration">
    <register type="Yumiki.Data.Administration.Interfaces.IGroupRepository" mapTo="Yumiki.Data.Administration.Repositories.GroupRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IUserRepository" mapTo="Yumiki.Data.Administration.Repositories.UserRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IContactTypeRepository" mapTo="Yumiki.Data.Administration.Repositories.ContactTypeRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IPrivilegeRepository" mapTo="Yumiki.Data.Administration.Repositories.PrivilegeRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IQueueRepository" mapTo="Yumiki.Data.Administration.Repositories.QueueRepository" />
    
    <register type="Yumiki.Business.Administration.Interfaces.IUserService" mapTo="Yumiki.Business.Administration.Services.UserService" />
    <register type="Yumiki.Business.Administration.Interfaces.IGroupService" mapTo="Yumiki.Business.Administration.Services.GroupService" />
    <register type="Yumiki.Business.Administration.Interfaces.IContactTypeService" mapTo="Yumiki.Business.Administration.Services.ContactTypeService" />
    <register type="Yumiki.Business.Administration.Interfaces.IPrivilegeService" mapTo="Yumiki.Business.Administration.Services.PrivilegeService" />
    <register type="Yumiki.Business.Administration.Interfaces.IQueueService" mapTo="Yumiki.Business.Administration.Services.QueueService" />
  </container>
  <!--End:Administration Section-->
  <!--Start:Master Section-->
  <assembly name="Yumiki.Data.Master" />
  <assembly name="Yumiki.Business.Master" />
  <container name="Master">
    <register type="Yumiki.Data.Master.Interfaces.IGUIRepository" mapTo="Yumiki.Data.Master.Repositories.GUIRepository" />
    <register type="Yumiki.Data.Master.Interfaces.ISecurityRepository" mapTo="Yumiki.Data.Master.Repositories.SecurityRepository" />
    <register type="Yumiki.Business.Master.Interfaces.IGUIService" mapTo="Yumiki.Business.Master.Services.GUIService" />
    <register type="Yumiki.Business.Master.Interfaces.ISecurityService" mapTo="Yumiki.Business.Master.Services.SecurityService" />
  </container>
  <!--End:Master Section-->
  <!--Start:MoneyTrace Section-->
  <assembly name="Yumiki.Data.MoneyTrace" />
  <assembly name="Yumiki.Business.MoneyTrace" />
  <container name="MoneyTrace">
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IUserRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.UserRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.ICurrencyRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.CurrencyRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.ITraceRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.TraceRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IBankRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.BankRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IBankAccountRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.BankAccountRepository" />
    
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IUserService" mapTo="Yumiki.Business.MoneyTrace.Services.UserService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.ICurrencyService" mapTo="Yumiki.Business.MoneyTrace.Services.CurrencyService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.ITraceService" mapTo="Yumiki.Business.MoneyTrace.Services.TraceService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IBankService" mapTo="Yumiki.Business.MoneyTrace.Services.BankService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IBankAccountService" mapTo="Yumiki.Business.MoneyTrace.Services.BankAccountService" />
  </container>
  <!--End:MoneyTrace Section-->
  <!--Start:WellCovered Section-->
  <assembly name="Yumiki.Data.WellCovered" />
  <assembly name="Yumiki.Business.WellCovered" />
  <container name="WellCovered">
    <register type="Yumiki.Data.WellCovered.Interfaces.IAppRepository" mapTo="Yumiki.Data.WellCovered.Repositories.AppRepository" />
    <register type="Yumiki.Data.WellCovered.Interfaces.IObjectRepository" mapTo="Yumiki.Data.WellCovered.Repositories.ObjectRepository" />

    <register type="Yumiki.Business.WellCovered.Interfaces.IAppService" mapTo="Yumiki.Business.WellCovered.Services.AppService" />
    <register type="Yumiki.Business.WellCovered.Interfaces.IObjectService" mapTo="Yumiki.Business.WellCovered.Services.ObjectService" />
  </container>
  <!--End:WellCovered Section-->
</unity>
