<unity>
  <!--Start:Administration Section-->
  <assembly name="Yumiki.Data.Administration" />
  <assembly name="Yumiki.Business.Administration" />
  <container name="Administration">
    <register type="Yumiki.Data.Administration.Interfaces.IGroupRepository" mapTo="Yumiki.Data.Administration.Repositories.GroupRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IUserRepository" mapTo="Yumiki.Data.Administration.Repositories.UserRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IContactTypeRepository" mapTo="Yumiki.Data.Administration.Repositories.ContactTypeRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IPrivilegeRepository" mapTo="Yumiki.Data.Administration.Repositories.PrivilegeRepository" />
    <register type="Yumiki.Data.Administration.Interfaces.IQueueRepository" mapTo="Yumiki.Data.Administration.Repositories.QueueRepository" />
    
    <register type="Yumiki.Business.Administration.Interfaces.IUserService" mapTo="Yumiki.Business.Administration.Services.UserService" />
    <register type="Yumiki.Business.Administration.Interfaces.IGroupService" mapTo="Yumiki.Business.Administration.Services.GroupService" />
    <register type="Yumiki.Business.Administration.Interfaces.IContactTypeService" mapTo="Yumiki.Business.Administration.Services.ContactTypeService" />
    <register type="Yumiki.Business.Administration.Interfaces.IPrivilegeService" mapTo="Yumiki.Business.Administration.Services.PrivilegeService" />
    <register type="Yumiki.Business.Administration.Interfaces.IQueueService" mapTo="Yumiki.Business.Administration.Services.QueueService" />
  </container>
  <!--End:Administration Section-->
  <!--Start:Master Section-->
  <assembly name="Yumiki.Data.Master" />
  <assembly name="Yumiki.Business.Master" />
  <container name="Master">
    <register type="Yumiki.Data.Master.Interfaces.IGUIRepository" mapTo="Yumiki.Data.Master.Repositories.GUIRepository" />
    <register type="Yumiki.Data.Master.Interfaces.ISecurityRepository" mapTo="Yumiki.Data.Master.Repositories.SecurityRepository" />
    <register type="Yumiki.Business.Master.Interfaces.IGUIService" mapTo="Yumiki.Business.Master.Services.GUIService" />
    <register type="Yumiki.Business.Master.Interfaces.ISecurityService" mapTo="Yumiki.Business.Master.Services.SecurityService" />
  </container>
  <!--End:Master Section-->
  <!--Start:MoneyTrace Section-->
  <assembly name="Yumiki.Data.MoneyTrace" />
  <assembly name="Yumiki.Business.MoneyTrace" />
  <container name="MoneyTrace">
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IUserRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.UserRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.ICurrencyRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.CurrencyRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.ITraceRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.TraceRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IBankRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.BankRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IBankAccountRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.BankAccountRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.IReportRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.ReportRepository" />
    <register type="Yumiki.Data.MoneyTrace.Interfaces.ITraceTemplateRepository" mapTo="Yumiki.Data.MoneyTrace.Repositories.TraceTemplateRepository" />
    
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IUserService" mapTo="Yumiki.Business.MoneyTrace.Services.UserService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.ICurrencyService" mapTo="Yumiki.Business.MoneyTrace.Services.CurrencyService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.ITraceService" mapTo="Yumiki.Business.MoneyTrace.Services.TraceService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IBankService" mapTo="Yumiki.Business.MoneyTrace.Services.BankService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IBankAccountService" mapTo="Yumiki.Business.MoneyTrace.Services.BankAccountService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.IReportService" mapTo="Yumiki.Business.MoneyTrace.Services.ReportService" />
    <register type="Yumiki.Business.MoneyTrace.Interfaces.ITraceTemplateService" mapTo="Yumiki.Business.MoneyTrace.Services.TraceTemplateService" />
  </container>
  <!--End:MoneyTrace Section-->
  <!--Start:WellCovered Section-->
  <assembly name="Yumiki.Data.WellCovered" />
  <assembly name="Yumiki.Business.WellCovered" />
  <container name="WellCovered">
    <register type="Yumiki.Data.WellCovered.Interfaces.IAppRepository" mapTo="Yumiki.Data.WellCovered.Repositories.AppRepository" />
    <register type="Yumiki.Data.WellCovered.Interfaces.IObjectRepository" mapTo="Yumiki.Data.WellCovered.Repositories.ObjectRepository" />
    <register type="Yumiki.Data.WellCovered.Interfaces.IFieldRepository" mapTo="Yumiki.Data.WellCovered.Repositories.FieldRepository" />
    <register type="Yumiki.Data.WellCovered.Interfaces.ILiveRepository" mapTo="Yumiki.Data.WellCovered.Repositories.LiveRepository" />
    <register type="Yumiki.Data.WellCovered.Interfaces.IAttachmentRepository" mapTo="Yumiki.Data.WellCovered.Repositories.AttachmentRepository" />
    
    <register type="Yumiki.Business.WellCovered.Interfaces.IAppService" mapTo="Yumiki.Business.WellCovered.Services.AppService" />
    <register type="Yumiki.Business.WellCovered.Interfaces.IObjectService" mapTo="Yumiki.Business.WellCovered.Services.ObjectService" />
    <register type="Yumiki.Business.WellCovered.Interfaces.IFieldService" mapTo="Yumiki.Business.WellCovered.Services.FieldService" />
    <register type="Yumiki.Business.WellCovered.Interfaces.ILiveService" mapTo="Yumiki.Business.WellCovered.Services.LiveService" />
    <register type="Yumiki.Business.WellCovered.Interfaces.IAttachmentService" mapTo="Yumiki.Business.WellCovered.Services.AttachmentService" />
  </container>
  <!--End:WellCovered Section-->
  <!--Start:OnTime Section-->
  <assembly name="Yumiki.Data.OnTime" />
  <assembly name="Yumiki.Business.OnTime" />
  <container name="OnTime">
    <register type="Yumiki.Data.OnTime.Interfaces.IPhaseRepository" mapTo="Yumiki.Data.OnTime.Repositories.PhaseRepository" />
    <register type="Yumiki.Data.OnTime.Interfaces.IProjectRepository" mapTo="Yumiki.Data.OnTime.Repositories.ProjectRepository" />
    <register type="Yumiki.Data.OnTime.Interfaces.ITaskRepository" mapTo="Yumiki.Data.OnTime.Repositories.TaskRepository" />
    <register type="Yumiki.Data.OnTime.Interfaces.IUserAssignmentRepository" mapTo="Yumiki.Data.OnTime.Repositories.UserAssignmentRepository" />

    <register type="Yumiki.Business.OnTime.Interfaces.IPhaseService" mapTo="Yumiki.Business.OnTime.Services.PhaseService" />
    <register type="Yumiki.Business.OnTime.Interfaces.IProjectService" mapTo="Yumiki.Business.OnTime.Services.ProjectService" />
    <register type="Yumiki.Business.OnTime.Interfaces.ITaskService" mapTo="Yumiki.Business.OnTime.Services.TaskService" />
    <register type="Yumiki.Business.OnTime.Interfaces.IUserAssignmentService" mapTo="Yumiki.Business.OnTime.Services.UserAssignmentService" />
  </container>
  <!--End:OnTime Section-->
  <!--Start:Shopper Section-->
  <assembly name="Yumiki.Data.Shopper" />
  <assembly name="Yumiki.Business.Shopper" />
  <container name="WellCovered">
    <register type="Yumiki.Data.Shopper.Interfaces.IFeeTypeRepository" mapTo="Yumiki.Data.Shopper.Repositories.FeeTypeRepository" />
    <register type="Yumiki.Data.Shopper.Interfaces.IInvoiceRepository" mapTo="Yumiki.Data.Shopper.Repositories.InvoiceRepository" />
    <register type="Yumiki.Data.Shopper.Interfaces.IAdditionalFeeRepository" mapTo="Yumiki.Data.Shopper.Repositories.AdditionalFeeRepository" />
    <register type="Yumiki.Data.Shopper.Interfaces.IProductRepository" mapTo="Yumiki.Data.Shopper.Repositories.ProductRepository" />
    <register type="Yumiki.Data.Shopper.Interfaces.IReceiptRepository" mapTo="Yumiki.Data.Shopper.Repositories.ReceiptRepository" />

    <register type="Yumiki.Business.Shopper.Interfaces.IFeeTypeService" mapTo="Yumiki.Business.Shopper.Services.FeeTypeService" />
    <register type="Yumiki.Business.Shopper.Interfaces.IInvoiceService" mapTo="Yumiki.Business.Shopper.Services.InvoiceService" />
    <register type="Yumiki.Business.Shopper.Interfaces.IAdditionalFeeService" mapTo="Yumiki.Business.Shopper.Services.AdditionalFeeService" />
    <register type="Yumiki.Business.Shopper.Interfaces.IProductService" mapTo="Yumiki.Business.Shopper.Services.ProductService" />
    <register type="Yumiki.Business.Shopper.Interfaces.IReceiptService" mapTo="Yumiki.Shopper.WellCovered.Services.ReceiptService" />
  </container>
  <!--End:Shopper Section-->
</unity>
