<ontime>
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
                <h1>
                    Loading OnTime... <i class="fa fa-spinner fa-spin"></i>
                </h1>
            </div>
        </div>
    </div>
</ontime>
