@{
    ViewBag.Title = "YUMIKI PORTAL";
}
<div class="container">
    <h2 class="text-uppercase">Welcome to Yumiki Portal!</h2>
    <div class="well well-sm">
        <p>
            Current release version: <b><u>Release-10 - 15 Feb 2018</u></b>.
        </p>
    </div>
</div>
