@{
    ViewBag.Title = "YUMIKI PORTAL";
}
<div class="container">
    <h1 class="text-uppercase">Welcome to Yumiki Portal!</h1>
    <div class="card">
        <div class="card-body">
            <p>
                Current release version: <b><u>Release-13 - 27 Apr 2018</u></b>.
            </p>
        </div>
    </div>
</div>
